<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td
        {
            border:1px solid black;
        }
    </style>
    <title></title>
</head>
<body>
<table style="width:300px">
    <tbody>
    <tr>
        <td>Challenge Name</td>
        <td>Words</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Participants</td>
        <td>Logger</td>
    </tr>
    <tr>
        <td>{{ object.name }}</td>
        <td>
            <ul type="squre">
                <li>{{ challenge.word1 }}</li>
                <li>{{ challenge.word2 }}</li>
                <li>{{ challenge.word3 }}</li>
            </ul>
        </td>
        <td>{{ object.start_date }}</td>
        <td>{{ object.end_date }}</td>
        <td>
            <ul type="squre">
                {% for person in object.participant.all %}
                <li>{{ person }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ posts.data }}</td>
    </tr>
    </tbody>
</table>

<a href="{% url 'view-all-challenges' request.user.profile.pk %}">View All My Challenges</a>

{% if is_time_up %}
    <div>
    </div>
    <form method="POST" action="{% url 'paypal-charge-user' %}">
        {% csrf_token %}
        <input type="hidden" name="challenge" value="{{ object.pk }}">
        <input type="hidden" name="winner-user" value="{{ winner_user.pk }}">

        <input type="submit" >
    </form>
{% else %}
    <br>
    {{ now }}
    Still running!
{% endif %}


</body>
</html>