{% extends "main/base.html" %}
{% block title %}
    <title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
{% endblock %}
{% block content_before %}

{% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    <img src="{{ request.user.profile.profile_image_url }}"/>
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
    {% block content %}
    <div class="container">
        <ul>
        {% for challenge in person.challenges.all %}
           <li><a href="{% url 'challenge-details'  challenge.pk %}">{{ challenge.name }}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'create-a-challenge' %}">Create a new form</a>
    </div>
    {% endblock %}

{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>

{% endif %}

{% endblock %}