{% extends 'core/generic_layout.html' %}

<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{title}} - My Flask</title>
    {% else %}
    <title>Welcome to My Flask</title>
    {% endif %}
</head>
<body>
    <div>My Flask: <a href="{{url_for('index')}}">Home</a>
        {% is_authenticated %}
        <a href="{{url_for('logout')}}">Logout</a></div>
        {% else %}
        <a href="{{url_for('login')}}">Login</a>
        {% endif %}
    <hr>
    {% block content %}{% endblock %}

</body>
</html>